
body {
    font-family: Arial, sans-serif;
    background-color: #9dfbf3;
    background-image: linear-gradient(110deg, #aff0ff, #103956);
}
.container{
    width: 60%;
    margin: auto;
}

.top_elements{
    width: 60%;
    margin: auto;
}

/* CSS ANIMATION */
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

:root {
    --color-main: #004880;
}

html, .wrapper {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}


.composition {
    position: relative;
    width: 750px;
    height: 400px;

    overflow: hidden;
}

.layer-0 {
    position: absolute;
    z-index: 10;
}

.layer-2 {
    position: absolute;
    z-index: 20;
}

.shelf {
    position: absolute;
    top: 150px;
    left: 250px;
}

.glow {
    position: absolute;
}
.glow__bottom {
    position: absolute;
    top: 60px;
    left: 5px;

    width: 135px;
    height: 120px;

    background-image: linear-gradient(to top, rgba(132, 255, 242, 1), rgba(132, 255, 242, 1) 30%, rgba(132, 255, 242, 0));

    transform: perspective(120px) rotateX(-20deg);
}
.glow__top {
    position: absolute;
    top: -25px;
    left: 7px;

    width: 130px;
    height: 180px;

    background-image: linear-gradient(to top, rgba(132, 255, 242, 1), rgba(132, 255, 242, 1) 20%, rgba(132, 255, 242, 0));

    transform: perspective(150px) rotateX(-20deg);
}

.glow__ball {
    position: absolute;
    top: 0;
    left: 0;

    width: 10px;
    height: 10px;

    border-radius: 10px;
    background-color: #83fff2;

    transform: translateY(160px);
}
.glow__ball_1 {
    animation: 5s fadeUp infinite;
    animation-delay: .5s;
}
.glow__ball_2 {
    left: 10px;

    width: 5px;
    height: 5px;

    animation: 4s fadeUp infinite;
    animation-delay: .8s;
}
.glow__ball_3 {
    left: 24px;

    width: 15px;
    height: 15px;

    animation: 9s fadeUp infinite;
    animation-delay: .65s;
}
.glow__ball_4 {
    left: 34px;

    width: 8px;
    height: 8px;

    animation: 7s fadeUp infinite;
    animation-delay: .5s;
}
.glow__ball_5 {
    left: 57px;

    width: 14px;
    height: 14px;

    animation: 7s fadeUp infinite;
    animation-delay: .9s;
}
.glow__ball_6 {
    left: 78px;

    width: 11px;
    height: 11px;

    animation: 3s fadeUp infinite;
    animation-delay: .3s;
}
.glow__ball_7 {
    left: 91px;

    width: 13px;
    height: 13px;

    animation: 8s fadeUp infinite;
    animation-delay: .77s;
}
.glow__ball_8 {
    left: 105px;

    width: 7px;
    height: 7px;

    animation: 6s fadeUp infinite;
    animation-delay: .4s;
}
.glow__ball_9 {
    left: 113px;

    width: 8px;
    height: 8px;

    animation: 4s fadeUp infinite;
    animation-delay: .6s;
}
.glow__ball_10 {
    left: 120px;

    width: 4px;
    height: 4px;

    animation: 9s fadeUp infinite;
    animation-delay: .92s;
}

.numbers {
    position: absolute;
    top: 0;
    left: 122px;

    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 200px;

    display: flex;
}
.numbers__item {
    margin: 0 10px;

    animation: 5s bounceUpDown infinite;
}
.numbers__item_1 {
    animation-delay: .3s;
}
.numbers__item_2 {
    animation: 5.4s bounceUpDown infinite;
    animation-delay: .5s;
}
.numbers__item_3 {
    animation-delay: .3s;
}

@keyframes fadeUp {
    0% {
        transform: translateY(160px);
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: translateY(-10px);
        opacity: 0;
    }
}
@keyframes bounceUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px);
    }
}


@media screen and (max-width: 800px) {
    .composition {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 700px) {
    .composition {
        transform: scale(0.7);
    }
}

@media screen and (max-width: 600px) {
    .composition {
        transform: scale(0.6);
    }
}

@media screen and (max-width: 500px) {
    .composition {
        transform: scale(0.5);
    }
}

@media screen and (max-width: 400px) {
    .composition {
        transform: scale(0.4);
    }
}

@media screen and (max-width: 300px) {
    .composition {
        transform: scale(0.3);
    }
}